#primary{
  padding: 20px;

  div{
    display: flex;
    align-items: center;
    gap: 8px;
  }

    div:nth-child(2){
       justify-content: center;
    }

    div:nth-child(3){
        justify-content: end;
    }
}

#secundary{
   text-align: center;

}
